# Backend
server/.venv/
server/__pycache__/
server/**/__pycache__/
server/.env
server/*.pyc

# Root (docker-compose / déploiement)
/.env

# Frontend
front/node_modules/
front/dist/
front/dev-dist/

# OS
.DS_Store
