{
	http_port 8080
	https_port 8443
}

{$SITE_ADDRESS:localhost} {
	encode gzip

	@api path /auth* /playlists* /favorites* /search* /video*
	handle @api {
		reverse_proxy {$BACKEND_ADDR:backend:8000}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
